/* header of section */
/* ================================================================================== */

.category {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.category a {
    font-size: 20px;
    font-weight: 500;
    color: var(--DarkBrown);
}

.category a:hover {

    color: var(--RedBrown);

}




/* rooms types */
/* =========================================================================== */
@keyframes btnMotion {
    0% {
        border: 0px solid var(--Light);
        outline: 0px solid var(--RedBrown);
        width: 160px;
    }

    50% {
        border: 2px solid var(--Light);
        outline: 5px solid var(--RedBrown);
        width: 170px;
    }

    100% {
        border: 0px solid var(--Light);
        outline: 0px solid var(--RedBrown);
        width: 160px;
    }
}
.roomsGalery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomsGalery>button {
    margin-top: 50px;
    color: var(--Light);
    background-color: var(--RedBrown);
    border: 3px solid var(--RedBrown);
    width: 160px;
    height: 40px;
    border: none;

}

.allRooms {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.room {
    text-decoration: none;
    color: var(--DarkBrown);
    display: flex;
    align-items: center;

}

.roomImg {
    margin: 20px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid var(--DarkBrown);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.roomImg :nth-child(1) {
    display: none;
    transition: 0.5s ease;
}

.roomImg:hover :nth-child(2) {
    height: 160px;
    background-position: cover;
    transition: 0.5s ease;
    filter: brightness(30%);
    transform: rotate(360deg);



}

.room:hover>.roomImg :nth-child(1) {
    display: block;
    transition: 0.5s ease;
}

.room:hover>.roomData :nth-child(1) {
    color: var(--RedBrown);
    transition: 0.5s ease;
}

.roomData :nth-child(1) {
    margin: 0;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 600;
}


.roomData :nth-child(2) {
    margin: 0;
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 300;
}


@media screen and (max-width:768px) {

    .secBtn {
        animation: btnMotion 0.5s infinite ease-in-out;
    }

    .roomImg :nth-child(1) {
        display: none;
    }

    .room {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .allRooms {
        margin-bottom: 60px;
    }

    .roomData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category {
        justify-content: space-around;
    }

}



/* Aside */
/* ====================================================================================== */
label {
    color: var(--DarkBrown);
}

input[type="checkbox"] {
    display: none;
}

/* Style the label as a custom checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    /* Space for the custom checkbox */
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

/* Custom checkbox styling */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--Light);
    border: 1px solid var(--RedBrown);
    border-radius: 4px;
    /* Rounded corners */
}

/* Add a checkmark for the checked state */
.checkbox-container input:checked+.checkmark {
    background-image: url(../icons/check-box-true.png);
    background-size: cover;
}



/* Add hover effect */
.checkbox-container:hover .checkmark {
    background-image: url(../icons/check-box-true.png);
    background-size: cover;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 400;
}

.filterTitle {
    padding: 10px 15px;
    background-color: var(--VeryLightBrown);
}

.itemsCol {
    padding: 10px 15px;

}

.filterSec {
    width: 25%;
}

.mailSec{
    width: 75%;
}
@media(max-width: 992px) and (min-width:668px) {
    .filterSec {
        width: 36%;
    }
    .mailSec>:nth-child(1)>:nth-child(2){
        width: 100%;
        justify-content: space-between;
    }
    .dropdown>button{
        width: 195px;
    }
}
@media screen and (min-width:992px) {
    .dropdown>button{
        width: 195px;
    }

}


@media screen and (max-width:668px) {
    .mailSec{
        width: 100%;
    } 
    .mailSec>:nth-child(1)>:nth-child(2){
        background-color: var(--VeryLightBrown);
        width: 100%;
        justify-content: space-between;
        padding-right: 25px;
    }
   
}

/* =============================================================================== */


/* card */
/* ================================================================== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
    gap: 20px;
}

.cardProduct {

    width: 309px;
    position: relative;
}

.cardIcons {
    position: absolute;
    position: relative;
    z-index: 1;
    top: 360px;
}

.cardCategory>p {
    background-color: var(--RedBrown);
    text-align: center;
    padding: 6px 17px;
}

.cardCategory{
    width: 120px; 
    display: flex; 
    justify-content: space-between; 
    position: absolute; 
    top: 20px; left: 20px; 
    color: var(--Light);
    font-size: 12px; 
    z-index: 1; 
}

.cardCategory>:nth-child(2){
    background-color: var(--DarkBrown);
}

.baseImg {
    opacity: 1;
    transition-duration: 1s;
}

.hovImg {
    opacity: 1;
}

.cardProduct:hover>.baseImg {
    opacity: 0;
}

.cardProduct>img {
    width: 309px;
}


/* search icon start */
.searchBtn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    display: none;
    bottom: 176px;
    right: 20px;
    background: var(--Light) url(../icons/search.png) no-repeat center / 50%;
}

.searchLabel {
    position: absolute;
    top: 9px;
    left: -80px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

}

.searchBtn:hover {
    background: var(--RedBrown) url(../icons/search\ white.png) no-repeat center / 50%;
}

.searchBtn:hover>.searchLabel {
    display: flex;
}

/* search icon finish */


/* info icon start */
.infoBtn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    display: none;
    bottom: 122px;
    right: 20px;
    background: var(--Light) url(../icons/info.png) no-repeat center / 50%;
}

.infoLabel {
    position: absolute;
    top: 9px;
    left: -80px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

}

.infoBtn:hover {
    background: var(--RedBrown) url(../icons/info\ white.png) no-repeat center / 50%;
}

.infoBtn:hover>.infoLabel {
    display: flex;
}

/* info icon finish */


/* love icon start */
.loveBtn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    bottom: 68px;
    right: 20px;
    background: var(--Light) url(../icons/love.png) no-repeat center / 50%;
}

.loveLabel {
    position: absolute;
    top: 9px;
    left: -80px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

}

.loveBtn:hover {
    background: var(--RedBrown) url(../icons/love\ white.png) no-repeat center / 50%;
}

.loveBtn:hover>.loveLabel {
    display: flex;
}

/* love icon finish */

.cardProduct:hover>.cardIcons {
    position: absolute;
    position: relative;
    z-index: 1;
    top: 310px;
}

.cardProduct:hover>.cardIcons a {
    display: block;
}

.cardProduct>a>button {
    width: 100%;
    height: 48px;
    background-color: var(--VeryLightBrown);
    position: absolute;
    display: none;
    top: 261px;
    border: navajowhite;
    color: var(--DarkBrown);
    z-index: 1;
}

.cardProduct>a>button:hover {
    color: var(--Light);
    background-color: var(--RedBrown);
}



.cardProduct:hover>a>button {
    display: block;
}
.cardProduct>:nth-child(7){
    font-size: 20px;
    font-weight: 600; 
    color: var(--DarkBrown);
    display: block;
}

.dropdown>button{
    width: 150px;
    border: none; 
    font-size: 14px;
}
@media screen and (max-width:426px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(145px, 2fr));
        gap: 5px;
    }

    .cardCategory{
        width: 75px;
        left: 10px;
        top: 10px;
    }
    
    .cardProduct {

        width: 145px;
        position: relative;
    }

    .cardProduct>img {
        width: 145px;
    }

    .cardProduct>.cardIcons {
        position: absolute;
        position: relative;
        z-index: 1;
        top: 235px;
    }

    .cardIcons :nth-child(1){
        display: none;
    }

    .cardIcons :nth-child(2){
        display: none;
    }

    .cardIcons :nth-child(3){
        top: -226px;
        right: 8px;
    }

    .loveBtn{
        width: 20px;
        height: 20px;
    }
    
    .cardProduct:hover>.cardIcons :nth-child(1) {
        display: none;
    }
    .cardProduct:hover>.cardIcons :nth-child(2) {
        display: none;
    }
    

    .cardProduct:hover>.cardIcons {
        position: absolute;
        position: relative;
        z-index: 1;
        top: 235px;
    }


    .cardProduct:hover>.baseImg {
        opacity: 1;
    }

    .cardProduct>a>button {
        display: block;
        height: 24px;
        top: 122px;
        font-size: 12px;
        
    }
    .cardProduct>:nth-child(7){
        font-size: 15px;
    }
    
    .cardProduct>:nth-child(6){
        font-size: 12px;
    }

    .cardCategory>p {
        background-color: var(--RedBrown);
        text-align: center;
        padding: 3px 10px;
        color: var(--Light);
        font-size: 8px;
    }
}

@media(max-width: 992px) and (min-width:768px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
        gap: 20px;
    }

    .cardProduct {

        width: 230px;
        position: relative;
    }

    .cardProduct>img {
        width: 230px;
    }

    .cardProduct>.cardIcons {
        position: absolute;
        position: relative;
        z-index: 1;
        top: 235px;
    }

    .cardProduct:hover>.cardIcons {
        position: absolute;
        position: relative;
        z-index: 1;
        top: 235px;
    }

    .cardProduct>.cardIcons a {
        display: block;
    }

    .cardProduct:hover>.baseImg {
        opacity: 1;
    }

    .cardProduct>a>button {
        display: block;
        top: 183px;
    }

    .cardCategory>p {
        background-color: var(--RedBrown);
        text-align: center;
        padding: 3px 20px;
        color: var(--Light);
        font-size: 8px;
    }

    .dropdown>button{
        width: 195px;
    }
}





  /* Pagination buttons */
  .pagination .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    color: var(--DarkBrown);
    background-color: var(--VeryLightBrown);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  /* Hover effect */
  .pagination .page:hover {
    background-color: var(--RedBrown);
    color: var(--Light);
  }
  
  /* Active page style */
  .pagination .page:active {
    background-color: var(--VeryLightBrown);
    color: var(--Light);
    font-weight: bold;
  }
  
  /* Next button */
  